
.allcenter td{
    text-align: center;
}


.profname{
    font-size:90%%;
    margin:10px ;
    color:white;
}



    .test {
        width:30px;
        height:35px;
    }

@media screen and (max-width:460px) {
    .test {
        
        display:none;
    }
}

#profname {
    color:white;
    margin-right: 10px;
    margin-left: 10px;
    
}


@media screen and (max-width:460px) {
    #profname {
    color:white;
    margin-right: 3px;
    margin-left: 3px;
    font-size:10px;
    
    }   
}